doctype html
html
  head
    meta(charset='utf-8')
    title Rogue like game

    link(href="styles/main.css" rel="stylesheet" media="screen" charset="utf-8")
  body
    #screen
    script(src='js/main.js', charset='utf-8')
